services:
  # 1. App (Laravel + Apache + Vue)
  app:
    build: .
    container_name: ems_app
    restart: unless-stopped
    ports:
      - "7080:80"

    # ✅ ใช้ env_file แทนการ mount ไฟล์ .env (แก้ปัญหา Mount/Permission บน macOS)
    env_file:
      - .env

    # ตั้งค่าให้ App รู้จัก Database ตัวข้างล่างนี้ (จะ override ค่าจาก .env ถ้ามี)
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: Byteforge
      DB_USERNAME: Byteforge
      DB_PASSWORD: Byteforge_Secret2307

    networks:
      - appnet
    depends_on:
      - db

  # 2. Database
  db:
    image: mariadb:10.6
    container_name: ems_db
    restart: unless-stopped
    ports:
      - "7306:3306"
    environment:
      MYSQL_DATABASE: Byteforge
      MYSQL_USER: Byteforge
      MYSQL_PASSWORD: Byteforge_Secret2307
      MYSQL_ROOT_PASSWORD: Byteforge_Secret2307
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  dbdata:
    driver: local
