services:
  app:
    build: .  
    container_name: ems_app
    ports: ["7080:80"]
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - /var/www/html/public/build 
      - /var/www/html/node_modules
    environment:
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    networks:
      - appnet
    depends_on:
      - db

  db:
    image: mariadb:10.11
    container_name: ems_db
    environment:
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USERNAME}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
    ports: ["7306:3306"]
    volumes:
      - dbdata:/var/lib/mysql
    networks: [appnet]
    
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: ems_pma
    ports: ["7111:80"]
    environment:
      PMA_HOST: db
    depends_on: [db]
    networks: [appnet]

networks:
  appnet:

volumes:
  dbdata:
