services:
  app:
    image: php:8.2-apache
    container_name: ems_app
    ports: ["7080:70"]
    working_dir: /var/www/html
    volumes:
      - /var/www/ems/ems:/var/www/html        
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public
    depends_on: [db]
    networks: [appnet]

  
  node:
    image: node:20
    container_name: vite_dev
    working_dir: /app
    command: sh -lc "([ -f package-lock.json ] && npm ci || npm i) && npm run dev -- --host 0.0.0.0 --port 7173"
    ports: ["7173:7173"]
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - /var/www/ems/ems:/app                  
    networks: [appnet]

  db:
    image: mariadb:10.11
    container_name: mysql_db
    environment:
      MARIADB_DATABASE: Byteforge
      MARIADB_USER: laravel
      MARIADB_PASSWORD: secret
      MARIADB_ROOT_PASSWORD: root
    ports: ["7306:3306"]                   
    volumes:
      - dbdata:/var/lib/mysql
    networks: [appnet]

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: pma
    ports: ["7081:80"]
    environment:
      PMA_HOST: db
    depends_on: [db]
    networks: [appnet]

networks:
  appnet:

volumes:
  dbdata:

